<div>
    <header class="nav_links">
            <ul class="nav_links">
                <li><a routerLink="main">Main</a></li>
                <li><a routerLink="other">Other</a></li>
                <li><a routerLink="main">main</a></li>
                <li><a routerLink="other">Other</a></li>
                <a class="logout" (click)="logout()" routerLink="login">logout</a>
            </ul>
    </header>

    <router-outlet></router-outlet>
    
    <footer class="footer">footer</footer>
</div>